<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Re-install ONL from scratch.&#xd;
#Trigger command&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PLTFORM</name>
          <description></description>
          <defaultValue>asgvolt64</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ONL_ID</name>
          <description></description>
          <defaultValue>72b95a7</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PSME_VER</name>
          <description></description>
          <defaultValue>2.1.3.59.25</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BAL_SDK_VER</name>
          <description></description>
          <defaultValue>3.5.1.1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MDATE</name>
          <description></description>
          <defaultValue>2020-04-27-PM-4-56-$PLTFORM-$BAL_SDK_VER-$PSME_VER-$ONL_ID</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Build_PSME_ONLY</name>
          <description>Only build PSEM only, set it to &quot;True&quot;
This needs a well build ONL and BAL docker in env.</description>
          <defaultValue>True</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.6.1">
      <siteName>root@172.17.8.6:22</siteName>
      <command>#!/bin/bash
#Above IP address need depend on your working OLT real IP address

onl-onie-boot-mode uninstall
reboot</command>
      <execEachLine>false</execEachLine>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo &quot;ONL_COMMIT_ID[$ONL_ID]&quot;
echo &quot;PLTFORM[$PLTFORM]&quot;
echo &quot;PSME_VER[$PSME_VER]&quot;
echo &quot;BAL_SDK_VER[$BAL_SDK_VER]&quot;
echo &quot;MDATE=[$MDATE]&quot;
echo &quot;## Wait 20 minutes for GPON (R01) uninstall ONL ##&quot;
### Normal Switch seems no need this unistall procedure ##
c=1200
#c=1
while [ $c != 0 ];do
    c=$(($c-1))
    sleep 1
    echo $c
done</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.6.1">
      <siteName>root@172.17.8.6:22</siteName>
      <command>#!/bin/bash
#Above IP address need depend on your working OLT real IP address
echo &quot;ONL_COMMIT_ID[$ONL_ID]&quot;
echo &quot;PLTFORM[$PLTFORM]&quot;
echo &quot;PSME_VER[$PSME_VER]&quot;
echo &quot;BAL_SDK_VER[$BAL_SDK_VER]&quot;
echo &quot;MDATE[$MDATE]&quot;
pwd
DATE=$MDATE
export PATH=&apos;/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin&apos;;export;onie-nos-install tftp://172.17.9.146/Daily_Build/$PLTFORM/$DATE/ONL_INSTALLER
</command>
      <execEachLine>false</execEachLine>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
export PATH=&apos;/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin&apos;
curl -X POST &quot;http://voltha:11aad495d8f017648827a9c41468cd6c6e@172.17.10.60:8080/job/GPON/job/3_Install_Bal_Psme/buildWithParameters?PLTFORM=$PLTFORM&amp;ONL_ID=$ONL_ID&amp;PSME_VER=$PSME_VER&amp;BAL_SDK_VER=$BAL_SDK_VER&amp;MDATE=$MDATE&amp;Build_PSME_ONLY=$Build_PSME_ONLY&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.10"/>
  </buildWrappers>
</project>
