<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>voltha</id>
  <fullName>voltha</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>71c57bf3-7da8-4266-bb9a-09b3565e64e4</uuid>
            <name>Token created on 2019-12-03T02:09:20.765Z</name>
            <creationDate>2019-12-03 02:09:20.772 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>12e32927323f39b0b12107594e7f0517760a01633b5fe8979239727dbb66dea6</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>8b14e48a-e8e5-4c9a-b570-ffa3045ce988</uuid>
            <name>Token created on 2020-02-19T08:01:06.604Z</name>
            <creationDate>2020-02-19 08:01:06.638 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>dd706d4f26792090533723e700556322f351b32d8a166b0137c338878d004164</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList>
            <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
              <id>900ed8c0-0de6-4b35-b939-a98d8c441a0f</id>
              <description></description>
              <username>voltha</username>
              <password>{AQAAABAAAAAQeaV2OSOii0bwmQpTp6pn5FavTnPoChVER2+Ok9j0CUM=}</password>
            </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
          </java.util.concurrent.CopyOnWriteArrayList>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.29">
      <emailAddress>nick_huang@edge-core.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.68">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1558707276848</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed>
        <string>buildHistory</string>
      </collapsed>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$H8NXD3XW0VjihNH0dm.gIuJWnk.sWvnL8h2k0CYSTxcR5L2.NTn6e</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <jenkins.security.seed.UserSeedProperty>
      <seed>3a54df42dcd54061</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>