<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.29.5">
      <projectUrl>https://github.com/abrother94/Traffic_Test/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>PON_ID</name>
          <description></description>
          <defaultValue>1</defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IP</name>
          <description></description>
          <defaultValue>172.17.8.6</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ONU_ID</name>
          <description></description>
          <defaultValue>428DA323</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Build_Server_172.17.10.60</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.6.1">
      <siteName>root@172.17.8.6:22</siteName>
      <command>#!/bin/bash
service psme stop
sleep 1
service psme start
/etc/init.d/dev_mgmt stop
sleep 2
cd /opt/bcm68620/
./svk_init.sh
/etc/init.d/dev_mgmt start
sleep 30</command>
      <execEachLine>false</execEachLine>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>rm -rf RF_Auto_Test

git clone https://github.com/abrother94/RF_Auto_Test.git
cd RF_Auto_Test/bal_test
./eit.sh GPON $PON_ID $IP $ONU_ID
</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.6.1">
      <siteName>pi@172.17.8.130:22</siteName>
      <command>#Final PI TEST
#!/bin/bash
#Disable XGSPON NNI
curl --insecure  -v  -X PATCH -d &apos;{&quot;AdministrativeState&quot; : &quot;Down&quot;}&apos;  https://172.17.8.5:8888/redfish/v1/EthernetSwitches/1/Ports/17/
rm -r Traffic_Test
git clone https://github.com/abrother94/Traffic_Test/
cd Traffic_Test/
RES=`./ping_test.sh 192.168.1.78`
if [ $? == 0 ];then
    echo &quot;[$RES]&quot;
else
    echo &quot;[$RES]&quot;
    exit 1
fi
</command>
      <execEachLine>false</execEachLine>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
  </builders>
  <publishers>
    <hudson.plugins.robot.RobotPublisher plugin="robot@2.0.0">
      <outputPath>RF_Auto_Test/bal_test</outputPath>
      <reportFileName>report.html</reportFileName>
      <logFileName>log.html</logFileName>
      <outputFileName>output.xml</outputFileName>
      <disableArchiveOutput>false</disableArchiveOutput>
      <passThreshold>0.0</passThreshold>
      <unstableThreshold>0.0</unstableThreshold>
      <otherFiles>
        <string></string>
      </otherFiles>
      <enableCache>true</enableCache>
      <onlyCritical>true</onlyCritical>
    </hudson.plugins.robot.RobotPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.37">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.10"/>
  </buildWrappers>
</project>