<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build_BAL_SDK_XGSPON_ALLIN_ONE&#xd;
&#xd;
#Trigger command&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PLTFORM</name>
          <description>GPON(asgvolt64) or XGSPON(asfvolt16)</description>
          <defaultValue>asgvolt64</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ONL_ID</name>
          <description>ONL commit id 
Stable version :72b95a7
</description>
          <defaultValue>72b95a7</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PSME_VER</name>
          <description>PSME Debian package version</description>
          <defaultValue>2.1.3.59.25</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BAL_SDK_VER</name>
          <description>BAL version</description>
          <defaultValue>3.4.3.3</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MDATE</name>
          <description></description>
          <defaultValue>2020-3-18-PM-02-06-3.4.3.3-master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FIT</name>
          <description>If you want only build Accton platform only, set it to &quot;True&quot;</description>
          <defaultValue>True</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Build_PSME_ONLY</name>
          <description>Only build PSEM only, set it to &quot;True&quot;
This needs a well build ONL and BAL docker in env.</description>
          <defaultValue>True</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Build_Server_172.17.10.64</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo &quot;ONL_COMMIT_ID[$ONL_ID]&quot;
echo &quot;PLTFORM[$PLTFORM]&quot;
echo &quot;PSME_VER[$PSME_VER]&quot;
echo &quot;BAL_SDK_VER[$BAL_SDK_VER]&quot;
echo &quot;MDATE[$MDATE]&quot;
cp ../Build_BAL_SDK_ALL.sh ./
./Build_BAL_SDK_ALL.sh &quot;$ONL_ID&quot; &quot;$PLTFORM&quot; &quot;$BAL_SDK_VER&quot; &quot;$FIT&quot; &quot;$Build_PSME_ONLY&quot;
#./Build_BAL_SDK_ALL.sh &quot;b4af32e&quot; &quot;asgvolt64&quot; &quot;3.2.2.2&quot; 
#./Build_BAL_SDK_ALL.sh &quot;b4af32e&quot; &quot;asfvolt16&quot; 
if [ $? != 0 ];then
  echo &quot;Build ERROR!!&quot;
  rm Build_BAL_SDK_ALL.sh
exit 1
fi
rm Build_BAL_SDK_ALL.sh
</command>
    </hudson.tasks.Shell>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.20.1">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate plugin="publish-over@0.22">
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher plugin="publish-over-ssh@1.20.1">
              <configName>TFTP-SERVER</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>Daily_Build/$PLTFORM</remoteDirectory>
                  <sourceFiles>bal_sdk_allinone/build/asvolt-onl/OpenNetworkLinux/builds/amd64/installer/installed/builds/jessie/*</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>bal_sdk_allinone/build/asvolt-onl/OpenNetworkLinux/builds/amd64/installer/installed/builds/</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>echo [$PLTFORM]
echo MDATE[$MDATE]
pwd;cd tftp/Daily_Build/$PLTFORM;pwd ;mv jessie  $MDATE;mv $MDATE/*INSTALLER  $MDATE/ONL_INSTALLER </execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                  <useAgentForwarding>false</useAgentForwarding>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
export PATH=&apos;/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin&apos;
curl -X POST &quot;http://voltha:11aad495d8f017648827a9c41468cd6c6e@172.17.10.60:8080/job/GPON/job/2_Install_Onl_Allinone_Package/buildWithParameters?PLTFORM=$PLTFORM&amp;ONL_ID=$ONL_ID&amp;PSME_VER=$PSME_VER&amp;BAL_SDK_VER=$BAL_SDK_VER&amp;MDATE=$MDATE&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.10"/>
  </buildWrappers>
</project>
